In [5]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [10]:
from sklearn.metrics import accuracy_score

In [6]:
data=pd.read_csv("data.csv")

In [7]:
data.head()

                                            Sentence Sentiment
0  The GeoSolutions technology will leverage Bene...  positive
1  $ESI on lows, down $1.50 to $2.50 BK a real po...  negative
2  For the last quarter of 2010 , Componenta 's n...  positive
3  According to the Finnish-Russian Chamber of Co...   neutral
4  The Swedish buyout firm has sold its remaining...   neutral

In [9]:
data["Sentiment"].unique()

array(['positive', 'negative', 'neutral'], dtype=object)

In [16]:
label=LabelEncoder()
y=label.fit_transform(data["Sentiment"])

In [17]:
data.head()

                                            Sentence  Sentiment
0  The GeoSolutions technology will leverage Bene...          2
1  $ESI on lows, down $1.50 to $2.50 BK a real po...          0
2  For the last quarter of 2010 , Componenta 's n...          2
3  According to the Finnish-Russian Chamber of Co...          1
4  The Swedish buyout firm has sold its remaining...          1

In [18]:
output=label.classes_

In [19]:
vectorizer=TfidfVectorizer()
X=vectorizer.fit_transform(data["Sentence"])

In [21]:
X

<5842x11381 sparse matrix of type '<class 'numpy.float64'>'
	with 97179 stored elements in Compressed Sparse Row format>